/* Base styles */
.login-container {
  background: linear-gradient(90deg, #b5b8e1, #c3e2d3, #dddddd);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.login-card {
  background-color: #ecf6f5;
  width: 80%;
  max-width: 1200px;
  height: auto;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  flex-wrap: wrap;
}

.login-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.login-image img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
  border-bottom-left-radius: 80px;
}

.login-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  width: 100%;
  overflow: auto;
}

.login-top {
  display: flex;
  flex-direction: column;
}

.login-top h4 {
  font-size: 1.8rem;
  font-family: Sora, sans-serif;
  margin: 0;
}

.login-top p {
  font-size: 1.1rem;
  margin-top: 9px;
  font-family: Sora, sans-serif;
}

.login-content {
  display: flex;
  margin-top: 15px;
  flex-direction: column;
}

.login-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  flex-wrap: wrap;
}

.login-inputs1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.login-inputs input {
  flex: 1;
  padding: 15px;
  border-radius: 10px;
  border: none;
}

.login-inputs input::placeholder {
  font-family: Sora, sans-serif;
  font-weight: 100;
  font-size: 0.9rem;
}

.login-inputs input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.login-inputs1 a {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 400;
}

.login-inputs1 button {
  padding: 15px;
  background-color: black;
  color: white;
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: none;
  border-radius: 10px;
  width: auto;
  cursor: pointer;
}

.google-btn p {
  text-align: center;
  color: rgba(0, 0, 0, 0.572);
}

.google-btn a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.error-message {
  color: red;
  margin-top: 0px;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .login-card {
    flex-direction: column;
    height: auto;
    padding: 60px;
  }

  .login-image img {
    height: auto;
    width: 100%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 10px;
  }

  .login-main {
    padding: 40px;
  }
}

@media (max-width: 768px) {
  .login-card {
    width: 90%;
    height: auto;
    padding: 30px;
  }

  .login-main {
    padding: 20px;
  }
  .login-image img {
    height: auto;
    width: 100%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 10px;
  }
  .login-inputs1 button {
    font-size: 0.9rem;
    padding: 12px;
  }

  .login-inputs {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .login-card {
    width: 100%;
    height: auto;
    box-shadow: none;
    padding: 30px;
    overflow: auto;
  }
  .login-image img {
    height: auto;
    width: 100%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 10px;
  }
  .login-main {
    padding: 10px;
    overflow: auto;
  }

  .login-inputs input {
    padding: 10px;
  }

  .login-inputs1 button {
    font-size: 0.8rem;
    padding: 10px;
  }

  .login-top h4 {
    font-size: 1.5rem;
  }

  .login-top p {
    font-size: 1rem;
  }
}
