.chat-container {
    background-color: #b7cfeb;
    display: flex;
    margin: 0;
    height: 100vh;
    border: 1px solid #ccc;

}

.chat-list {
    background-color: white;
    width: 350px;
   flex-shrink: 0;
    border: 1px solid #ccc;
    padding: 15px;
   
}

.chat-page{
    background-color:#dae6ed;
    flex-grow: 1; /* Use remaining space */
    display: flex;
    flex-direction: column;
 
    overflow: hidden; /* Ensure content doesn't overflow */
    
    
}

